li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}
.btn-distribuert {
    margin-right: 5px;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: #b0e0e6;
}
